<!DOCTYPE html>
<html>
<head>
  <title>Bukkit</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="wrapper">
	<h1><a href="/">
		<object type="image/svg+xml" width="237" height="43" data="/logo.svg">
			<span></span>
		</object>
	</a></h1>
	<%= yield %>
</div>
</body>
</html>
